/* Feedback Page Specific Styles */
h2 {
    font-size: 28px;
    color: #f39c12;
}

section form {
    max-width: 600px;
    margin: 0 auto;
}

form textarea {
    font-size: 16px;
}

form button {
    background-color: #f39c12;
    font-size: 18px;
    padding: 14px 25px;
}

form button:hover {
    background-color: #e67e22;
}
